<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Work
    </title>
</head>
<body>
    <h1>
        Experiencia laboral
    </h1>

    <div id="content">
        <h3>
            Titulo
        </h3>

        <label>
            Subtitulo
        </label>

        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit primis auctor, 
            scelerisque curae iaculis egestas tincidunt habitasse nascetur posuere urna, 
            donec varius litora aptent nulla netus eleifend fusce. 
            <b>Est consequat velit sodales conubia platea vel ultricies tellus,</b> 
            nullam ridiculus nulla curae quam nibh nascetur felis morbi, 
            feugiat sem luctus fames gravida vivamus viverra. 
            <strong>Tortor velit suspendisse cum magnis dui diam vel est auctor nullam netus,</strong> 
            quam pharetra praesent integer vehicula viverra iaculis augue vivamus lacus, 
            felis curae suscipit litora dictumst pulvinar nulla laoreet himenaeos cursus. 
            <i>Tincidunt ultricies lobortis egestas fusce diam mattis commodo iaculis curabitur,</i> 
            sagittis quis sem elementum est magnis eget.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit primis auctor, 
            scelerisque curae iaculis egestas tincidunt habitasse nascetur posuere urna, 
            donec varius litora aptent nulla netus eleifend fusce. 
            <ins>Est consequat velit sodales conubia platea vel ultricies tellus,</ins> 
            nullam ridiculus nulla curae quam nibh nascetur felis morbi, 
            feugiat sem luctus fames gravida vivamus viverra. 
            <em>Tortor velit suspendisse cum magnis dui diam vel est auctor nullam netus,</em> 
            quam pharetra praesent integer vehicula viverra iaculis augue vivamus lacus, 
            <mark>felis curae suscipit litora dictumst pulvinar nulla laoreet himenaeos cursus.</mark> 
            Tincidunt ultricies lobortis egestas fusce diam mattis commodo iaculis curabitur,
            sagittis quis sem elementum est magnis eget.
        </p>

        <pre>
            Lorem ipsum dolor sit amet consectetur adipiscing elit primis auctor, 
            scelerisque curae iaculis egestas tincidunt habitasse nascetur posuere urna, 
            donec varius litora aptent nulla netus eleifend fusce. 
            Est consequat velit sodales conubia platea vel ultricies tellus, 
            nullam ridiculus nulla curae quam nibh nascetur felis morbi, 
            feugiat sem luctus fames gravida vivamus viverra. 
            Tortor velit suspendisse cum magnis dui diam vel est auctor nullam netus, 
            quam pharetra praesent integer vehicula viverra iaculis augue vivamus lacus, 
            felis curae suscipit litora dictumst pulvinar nulla laoreet himenaeos cursus. 
            Tincidunt ultricies lobortis egestas fusce diam mattis commodo iaculis curabitur,
            sagittis quis sem elementum est magnis eget.
        </pre>

        <code>
            result = input(input('Inser age'))
        </code>

        <a href="../gato.jpg" donwload="">
            abreme
        </a>
    </div>

    <div id="enlaces">
        <a href="tel:6120000000">
            Realizar una llamada
        </a>

        <a href="../index.html">
            Ir a Home
        </a>

        <a href="#footer">
            Ir a Footer
        </a>

        <a href="../about.html">
            Ir a Bio
        </a>

        <a href="../contact.html">
            Ir a Contacto
        </a>

        <a href="work.html">
            Ir a CV
        </a>
    </div>
</body>
</html>