<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Work
    </title>
</head>
<body>
    <h1>
        Experiencia laboral
    </h1>

    <div id="enlaces">
        <a href="tel:6120000000">
            Realizar una llamada
        </a>

        <a href="../index.html">
            Ir a Home
        </a>

        <a href="#footer">
            Ir a Footer
        </a>

        <a href="../about.html">
            Ir a Bio
        </a>

        <a href="../contact.html">
            Ir a Contacto
        </a>

        <a href="work.html">
            Ir a CV
        </a>
    </div>
</body>
</html>